# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# 自动处理文本文件的行结束符
* text=auto

# 强制指定某些文件使用 LF 行结束符
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf

# 二进制文件禁止行结束符转换
*.png binary
*.jpg binary